.home-container {
    min-height: 100vh;
    background-color: #1D283A;
    color: white;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.topbar-right-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.welcome-text {
    font-size: 50px;
    font-weight: 700;
    color: #f3f3f3;
    text-shadow: 5px 5px 12px rgba(0, 0, 0, 0.4);

}

.icon-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.icon-button:hover {
    transform: scale(1.2);
}

.divider {
    width: 100%;
    height: 3px;
    background-color: #4b4b4b;
    margin: 25px 0;
}
.info-text {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    color:#757575;
}

.calendar-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-card {
    background-color: #525D7D;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.marathon-btn {
    width: 30%;
    background-color: #232859;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.marathon-btn:hover {
    transform: scale(1.03);
}

.info-marathon {
    font-size: 14px;
    font-weight: 400;
    color: #c1c1c1;
    margin-top: 8px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.courses-header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-course-btn {
    background-color: #232859;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.courses-content {
    margin-top: 25px;
    display: -ms-inline-grid;
    justify-content: space-between;
 
}

.course-card {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 25px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.course-card-student {
    margin-top: 20px;
    display: inline-block;
    gap: 20px;
    padding: 25px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.course-card-student:hover {
    filter: brightness(0.9);
    transform: scale(1.02);
}

.course-color-0 { background-color: #979DAD; }
.course-color-1 { background-color: #525D7D; }
.course-color-2 { background-color: #2B385B; }
.course-color-3 { background-color: #20294A; }

.course-arrow {
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.course-arrow:hover {
    transform: translateX(8px);
}

.arrow-icon {
    font-size: 35px;
}

.no-courses {
    font-style: italic;
    color: #cfcfcf;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.student-add-courses-form {
    background-color: #CFD5E5;
    color: #49454F;
    border-radius: 30px;
    font-size: 16px;
}

.student-add-courses-input > i {
    font-size: 22px;
}

/* The "Add courses" form input for student */
.student-add-courses-input {
    border: none;
    background-color: #CFD5E5;
    padding-left: 0px;
    padding-right: 0px;
}

.student-add-courses-input:focus {
    background-color: #CFD5E5;
}

.pointer-cursor {
    cursor: pointer;
}

.student-course-search-results {
    background-color: #CFD5E5;
    overflow: hidden;
}

.student-course-search-result {
    background-color: #CFD5E5;

}

.student-course-search-result:hover {
    filter: brightness(0.9);
}

/* Unactive link in pagination */
.student-course-search-pagination > li > button {
    background-color: #525D7D; 
    color: white;
}

/* Disabled link in pagination */
.student-course-search-pagination > .disabled > button {
    background-color: #525D7D; 
}

/* Active link in pagination */
.student-course-search-pagination > .active > button {
    background-color: #525D7D; 
    border: 1px solid #c1c1c1;
    color:#2B385B;
    filter: brightness(0.9);
}

/* Link hover and focus */
.student-course-search-pagination > li > button:hover,
.student-course-search-pagination > li > button:focus {
    filter: brightness(0.9);
    background-color: #525D7D;
    color: #232859;
}
