.login-container {
    position: relative;
    text-align: center;
    color: black;
    text-shadow: none;
    background-color: white;
    z-index: 1;
    max-width: 50%;
}

@media (max-width: 1500px) {
  .login-container {
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .login-container {
    max-width: 1000%;
  }
}